#container{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     gap: 25px;
}

input{
    height: 35px;
    width: 100%;
    border-radius: 5px;
}

img{
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
}

